/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&family=Teko:wght@300..700&display=swap');
                       /* Headings and buttons --> font-family: "Teko", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Guerrilla&family=Teko:wght@300..700&display=swap');
                       /* All other text --> font-family: "Lato", sans-serif; */


/* Styling for DESKTOP as default */

/* Styling the whole body */
body {
    font-family: "Lato", sans-serif; /* adding font to all text */
    background-color: #FFFFFF;     /* white as background */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, button {
    font-family: "Teko", sans-serif; /* adding font to heading & button */
}

header {
    display: flex;
    justify-content: space-between; /* space between watch.it and nav*/
    align-items: center;
    padding: 16x 48px;
    background-color: #FFFFFF;
    border-bottom: 2px solid #070410;
}

header h1 {
    font-family: "Teko", sans-serif; /* adding font to heading */
    color: #070410;
    margin: 0;
}

nav ul {
    list-style: none; /* To remove default list styling */
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 16px; /* small_spacing between nav items */
}

nav a {
    text-decoration: none; /* remove underline for hyperlink */
    color: #070410;
}

.search {
    padding: 8px;
    border: 2px solid #070410;
    border-radius: 5px;
    color: #070410;
    text-align: center;
}
.search::placeholder {color: #070410;} /* to change the font color of the text "SEARCH" */

.contents {
    max-width: 900px;           /* max-width as in specifications */
    margin: 0 auto;             /* Placing the main content in center */
    display: grid;
    grid-template-columns: 1fr; /* single column layout (desktop) */
    align-items: center;
    padding: 48px;              /* large_spacing for main content container */
    gap: 48px;                  /* large_spacing */
}

/* Styling first movie box (desktop) */
.movies .mov1 {
    display: flex;                      /* flex layout --> horizontal alignment */
    gap: 16px;                          /* small_spacing between movie boxes*/
    background-color: #FFFFFF;
    padding: 16px;                      /* small_spacing for movie content boxes */
    border: 1px solid #070410;
    box-shadow: 2px 2px 16px #231651; /* shadow for the movie box */
}

/* Styling second and third movie box for column layout (desktop) */
.movies .mov-vertical {
    display: grid;                  /* grid layout --> coloumn */
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 16px;                      /* small_spacing for movie content boxes */
}

/* Styling second to sixth movie box (desktop) */
.movies .mov2, .movies .mov3, .movies .mov4, .movies .mov5, .movies .mov6 {
    /*margin: 16px;*/ /* small_spacing for movie content boxes */
    background-color: #FFFFFF;
    padding: 16px; /* small_spacing for inside movie content boxes */
    border: 1px solid #070410;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 16px #231651;
}

/* Styling movie IMAGEs (desktop) */
.mov-img-1, .mov-img-2, .mov-img-3, .mov-img-4, .mov-img-5, .mov-img-6 {
    max-width: 100%;     /* Helps img to take full width of the box */
    height: auto;
    margin-bottom: 16px; /* small_spacing below img */
}

/* Styling movie BUTTONs (desktop) */
button {
    text-align: center;
    border: 1px solid #070410;
    border-radius: 16px; /* small_spacing for buttons */
    padding: 16px;       /* small_spacing for buttons */
    background-color: #4DCCBD;
    cursor: pointer;
    margin-top: auto;
    align-self: center;  /* horizontally align buttons in the center */
}


@media (min-width: 1024px) {                            /* Desktop layout */
}

@media (min-width: 720px) and (max-width: 1023px) {     /* Tablet layout */
}

@media (min-width: 360px) and (max-width: 719px) {      /* Mobile layout */
}