/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Protest+Guerrilla&family=Teko:wght@300..700&display=swap');
                       /* Headings and buttons --> font-family: "Teko", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Protest+Guerrilla&family=Teko:wght@300..700&display=swap');
                       /* All other text --> font-family: "Lato", sans-serif; */


/* Styling for DESKTOP as default */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the whole body */
body {
    font-family: "Lato", sans-serif; /* adding font to all text */
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, button {font-family: "Teko", sans-serif; /* adding font to heading & button */}

header {
    display: flex;
    justify-content: space-between; /* space between watch.it and nav*/
    align-items: center;
    padding: 16x 48px;
}

header h1 {
    font-family: "Teko", sans-serif; /* adding font to heading */
    margin: 0;
}

nav ul {
    list-style: none; /* To remove default list styling */
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {margin-left: 16px; /* small_spacing between nav items */}

nav a {text-decoration: none; /* remove underline for hyperlink */}

.search {
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.contents {
    max-width: 900px;           /* max-width as in specifications */
    margin: 0 auto;             /* Placing the main content in center */
    display: grid;
    grid-template-columns: 1fr; /* single column layout (desktop) */
    align-items: center;
    padding: 48px;              /* large_spacing for main content container */
    gap: 48px;                  /* large_spacing */
}

/* Styling movie BUTTONs (desktop) */
button {
    text-align: center;
    border-radius: 16px; /* small_spacing for buttons */
    padding: 16px;       /* small_spacing for buttons */
    cursor: pointer;
    margin-top: auto;
    align-self: center;  /* horizontally align buttons in the center */
}


@media (min-width: 1024px) {                            /* Desktop layout */
    /* Styling the first movie box (desktop) */
    .mov1 {
        display: grid;
        grid-template-columns: 1fr;   /* 1 column */
        grid-template-rows: auto 1fr; /* row1-->img & row2-->text */
        gap: 0;
        margin: 16px auto;            /* small_spacing margin */
        /*padding: 48px;*/                /* large_spacing padding*/
        max-width: 900px;             /* width limit */ 
        padding: 0;                   /* remove padding */
        max-height: 560px;
    }
    .mov-img-1 {
        display: block; /* img as block level element */
        width: 100%;
        height: 100%;
        max-height: 400px;
        margin: 0;      /* remove margin */
        /*margin-bottom: 0;*/
        /*object-position: center;*/
        /*margin-bottom: 16px;*/ /* small_spacing below img */
    }
    .abt-mov-1 {
        margin-top: 0;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 16px;
        display: grid;                   /* for para & button */
        grid-template-columns: 1fr auto; /* col1-->text & col2-->button */
        align-items: center;             /* align text vertically */
        gap: 16px;                       /* small_spacing between text & button */
    }
    .abt-mov-1 p {
        grid-column: 1/2;    /* text as col1 */
        margin: 0;
        margin-bottom: 100px;
    }
    .b1 {
        grid-column: 2/3;    /* button as col2 */
        display: block;
        width: 100px;
        white-space: normal; /* test wraps */
        text-align: center;
        margin-bottom: 100px;
    }

    /* Styling second & third movie boxes (desktop) */
    .movies .mov-vertical {
        display: grid;                  /* grid layout --> coloumn */
        grid-template-columns: 1fr 1fr; /* 2 columns */
        gap: 16px;                      /* small_spacing for movie content boxes */
    }
    .movies .mov2, .movies .mov3 {
        /*margin: 16px;*/ /* small_spacing for movie content boxes */
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*box-shadow: 2px 2px 16px #231651;*/
    }
    .mov-img-2, .mov-img-3 {
        max-width: 100%;     /* Helps img to take full width of the box */
        height: auto;
        margin-bottom: 16px; /* small_spacing below img */
    }

    /* Styling fourth to sixth movie boxes (desktop) */
    .mov4, .mov5, .mov6 {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 48px auto;            /* large_spacing for movie box */
        max-width: 900px;             /* setting max-width */
    }
    .mov-img-4, .mov-img-5, .mov-img-6 {
        width: 50%; /* img takes 50% of the box width */
        height: auto;
        margin-right: 16px; /* small_spacing between img & text */
    }
    .abt-mov-4, .abt-mov-5, .abt-mov-6 {
        width: 50%; /* text takes the rest 50% of the box width */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}


@media (min-width: 720px) and (max-width: 1023px) {     /* Tablet layout */
    header {padding: 16px 32px; /* large_spacing */}
    .contents {
        padding: 32px; /* large_spacing */
        gap: 32px;     /* large_spacing */
    }
    /* Styling as columns and rows (tablet) */
    .movies {
        display: grid;
        grid-template-columns: 1fr 1fr;     /* 2columns */
        grid-template-rows: auto auto auto; /* 3rows */
        gap: 16px;                          /* small_spacing */
    }
    .mov-vertical {display: contents; /* break the layout effect (this was created for desktop) */}
    .movies .mov1 {
        grid-column: 1/2; /* mov-1 in column1 */
        grid-row: 1/2;    /* mov-1 in row1 */
    }
    .movies .mov2 {
        grid-column: 2/3; /* mov-2 in column2 */
        grid-row: 1/2;    /* mov-2 in row1 */
    }
    .movies .mov3 {
        grid-column: 1/2; /* mov-3 in column1 */
        grid-row: 2/3;    /* mov-3 in row2 */
    }
    .movies .mov4 {
        grid-column: 2/3; /* mov-4 in column2 */
        grid-row: 2/3;    /* mov-4 in row2 */
    }
    .movies .mov5 {
        grid-column: 1/2; /* mov-5 in column1 */
        grid-row: 3/4;    /* mov-5 in row3 */
    }
    .movies .mov6 {
        grid-column: 2/3; /* mov-6 in column2 */
        grid-row: 3/4;    /* mov-6 in row3 */
    }
    .movies .mov1, .movies .mov2, .movies .mov3, .movies .mov4, .movies .mov5, .movies .mov6 {
        padding: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    /*.abt-mov-1, .abt-mov-2, .abt-mov-3,.abt-mov-4, .abt-mov-5, .abt-mov-6{
        text-align: left;
        align-content: center;
    }*/
    .mov-img-1, .mov-img-2, .mov-img-3, .mov-img-4, .mov-img-5, .mov-img-6 {
        max-width: 100%;
        height: auto;
        margin-bottom: 16px;
    }
    /*button {align-content: center;}*/
}

@media (min-width: 360px) and (max-width: 719px) {      /* Mobile layout */
    header {padding: 16px 16px; /* large_spacing */}
    .contents {
        padding: 16px; /* large_spacing */
        gap: 16px;     /* large_spacing */
    }
    nav {display: none; /* nav-items are not there in the wireframe */}
    .mov-vertical {display: contents; /* break the layout effect (this was created for desktop) */}
    /* Styling in column (mobile) */
    .movies {
        display: grid;
        grid-template-columns: 1fr 1fr;      /* single column */
        grid-template-rows: repeat(6, auto); /* 6rows */
        gap: 16px;                           /* small_spacing */
    }
    .mov1, .mov2, .mov3, .mov4, .mov5, .mov6 {
        grid-column: 1; /* each movie box in column 1 */
        grid-row: auto; /* automatically goes to the next row */
    }
    .mov-img-1, .mov-img-2, .mov-img-3, .mov-img-4, .mov-img-5, .mov-img-6 {
        max-width: 100%;
        height: auto;
        margin-bottom: 16px;
    }
}

