$large-font: 3em;
$midium-font: 2em;
$small-font: 1.5em;
$white: #FFFFFF;
$dark-blue: #070410;
$navy-blue: #231651;
$light-blue: #4DCCBD;
$yellow: #EEF36A;
$zero: 0;

button {font-size: $midium-font; /* font size --> 2em */}
p {font-size: $small-font; /* font size --> 1.5em */}
