body{background-color: #49243E;
}

body{color: white;}

.title{color:#F2613F;} 

h2{color: #D875C7;}

table,th,td{border: 1px solid black;
    color: black;
}

body {font-size: larger;}          /* making the font size larger */

.structure{border-style: groove;}     /* html structure inside groove bordered box */

footer {
    background-color: #042e55;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.column{background-color: grey;
    text-align: center;
}

.row1{background-color: lightgrey; 
    text-align: left;
}



